body {
  margin-top: auto;
  background-color: rgba(230,230,230,0.8);
}
.hidden {
  display: none;
}

.main {
  margin-top: 40px;
  text-align: center;
}

#image {
  width: 100%;
}

.column p, .column h2 {
  margin-bottom: 0.5rem;
}

.category {
  list-style: none;
  margin-bottom: 1rem;
}
.category li {
  margin-bottom: 0.5rem;
}
.ingredients li {
  margin-bottom: 0;
}
h5 {
  margin-bottom: 1rem;
}
.video {
  width: 100%;
  margin-bottom: 4rem;
  min-height: 300px;
  max-height: 600px;
}

@media (min-width: 550px) {
  #image {
    width: 95%;
  }
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
